In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
def get_0910():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2009-10/')
    os.chdir('/home/chuylife10/dentalrecommender/2009-10/')
    dataframes = [pd.read_sas(file) for file in filelist]

    overral_data_09 = pd.concat(dataframes)
    return overral_data_09
    

#acculturation_09=pd.read_sas('/home/chuylife10/dentalrecommender/2009-10/ACQ_F.XPT')
overral_data_09 = get_0910()
overral_data_09.head()

,SEQN,HOQ040,HOD050,HOD060,HOQ065,HOQ070,HOQ080,RHQ010,RHQ020,RHQ031,...,BPQ070,BPQ080,BPQ090A,BPQ090B,BPQ090C,BPQ090D,BPQ100A,BPQ100B,BPQ100C,BPQ100D
0,51624.0,1.0,6.0,4.0,1.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51625.0,1.0,9.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51626.0,1.0,5.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51627.0,99.0,6.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51628.0,99.0,6.0,3.0,2.0,1.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def get_1112():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2011-12/')
    os.chdir('/home/chuylife10/dentalrecommender/2011-12/')
    dataframes = [pd.read_sas(file) for file in filelist]

    overral_data_11 = pd.concat(dataframes)
    return overral_data_11
overral_data_11 = get_1112()
overral_data_11.head()

,SEQN,ACD011A,ACD011B,ACD011C,ACD040,ACD110,DPQ010,DPQ020,DPQ030,DPQ040,...,SMQ770,SMQ780,SMQ785,SMQ800,SMQ815,SMQ817,SMQ819,SMQ830,SMQ840,SMAQUEX
0,62161.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62163.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62164.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62165.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62169.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def get_1314():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2013-14/')
    os.chdir('/home/chuylife10/dentalrecommender/2013-14/')
    dataframes = [pd.read_sas(file) for file in filelist]
    overral_data_13 = pd.concat(dataframes)
    return overral_data_13
overral_data_13 = get_1314()
overral_data_13.head()

,SEQN,DIQ010,DID040,DIQ160,DIQ170,DIQ172,DIQ175A,DIQ175B,DIQ175C,DIQ175D,...,OHQ850,OHQ855,OHQ860,OHQ865,OHQ870,OHQ875,OHQ880,OHQ885,OHQ895,OHQ900
0,73557.0,1.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558.0,1.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73559.0,1.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561.0,2.0,NaN,2.0,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def get_1516():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2015-16/')
    os.chdir('/home/chuylife10/dentalrecommender/2015-16/')
    dataframes = [pd.read_sas(file) for file in filelist]
    overral_data_15 = pd.concat(dataframes)
    return overral_data_15
overral_data_15 = get_1516()
overral_data_15.head()

,SEQN,CDQ001,CDQ002,CDQ003,CDQ004,CDQ005,CDQ006,CDQ009A,CDQ009B,CDQ009C,...,SMQ857,SMQ690J,SMQ861,SMQ863,SMQ690F,SMQ830,SMQ840,SMDANY,HOD050,HOQ065
0,83732.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,83733.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,83734.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,83735.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,83736.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def get_OHAREC():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/OHAREC/')
    os.chdir('/home/chuylife10/dentalrecommender/OHAREC/')
    dataframes = [pd.read_sas(file) for file in filelist]
    
    getdataframe = pd.concat(dataframes)

    
    oharec = getdataframe['OHAREC'].fillna(3)
    
    return oharec

y = get_OHAREC()

In [8]:
combined = [overral_data_09,overral_data_11,overral_data_13,overral_data_15]

overral_data = pd.concat(combined)



#overral_data_15 = overral_data_15.fillna(-1)


columns_to_drop =['SEQN']

X = overral_data.drop(columns=columns_to_drop)
#X.to_csv('/home/chuylife10/dentalrecommender/ov.csv')

#merging dataframes

#overral_data_09.to_csv(r'/home/chuylife10/dentalrecommender/overraldata09.csv')
#overral_data_11.to_csv(r'/home/chuylife10/dentalrecommender/overraldata11.csv')
#overral_data_13.to_csv(r'/home/chuylife10/dentalrecommender/overraldata13.csv')
#overral_data_15.to_csv(r'/home/chuylife10/dentalrecommender/overraldata15.csv')

In [9]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split

X_train, X_test,y_train, y_test = train_test_split(X, y, test_size=0.2)

ValueError: Found input variables with inconsistent numbers of samples: [1172507, 62764]

In [ ]:
# Descision Tree Classifier
from sklearn import tree

clfDT = tree.DecisionTreeClassifier(max_depth=8,max_leaf_nodes=300,min_samples_split=100,min_samples_leaf=20)
clfDT.fit(X_train, y_train)
clfDT_ypred0 = clfDT.predict(X_test)

In [ ]:
# Create DOT data
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image
# what are the descriptors we are using so we can develope a reccomendation
# 

dot_data = tree.export_graphviz(clfDT, feature_names=X_train.columns, class_names='1234',impurity=False, out_file=None)
graph = pydotplus.graph_from_dot_data(dot_data)

graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

In [ ]:
import warnings
warnings.filterwarnings("ignore")
from sklearn import metrics
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import cohen_kappa_score

#do train data 
#training data as previous years up to before most recent year
#test data as recent year
#use only questionare data
#drop NA
#training use 2 diff training sets 2010-15 and 2000- 2010
#compare data if diff just use 20 to 15 (yr)
results = {}
results['accuracy'] = metrics.accuracy_score(y_test, clfDT_ypred0)
results['f1_score'] = metrics.f1_score(y_test, clfDT_ypred0,average='weighted')# average='binary' by default
results['Recall'] = metrics.recall_score(y_test, clfDT_ypred0,average='weighted')
results['Precision'] = metrics. precision_score(y_test, clfDT_ypred0,average='weighted')
results['cohen_kappa'] = metrics.cohen_kappa_score(y_test, clfDT_ypred0)

print(results)